* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b6b6b6;
}

.heading {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#group-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-interface-box {
  border: none;
  border-radius: 2em;
  padding: 5%;
}

.submit-btn {
  border-radius: 2em;
  padding: 5%;
  margin-bottom: 10vh;
}

.group-text {
  background-color: white;
  border: none;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.25em;
}
