* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #a0c1d1, #b3cfa7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

#group-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-interface-box {
  border: none;
  border-radius: 2em;
  padding: 5%;
}

.submit-btn {
  border-radius: 2em;
  padding: 5%;
  margin-bottom: 10vh;
}

.group-container {
  margin: 0.5em 0;
}

.group-text {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 0.5em;
  margin: 0.25em 0;
  width: 100%;
  box-sizing: border-box; /* Include padding and border in element's total width */
  appearance: none; /* Remove default input styling for better cross-browser consistency */
}

label {
  margin-right: 0.5em;
  display: inline-block;
}
